* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.46;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

@media (min-width: 1201px) {

  .container {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px 0;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .container {
    position: relative;
    margin: 0 auto;
    padding: 0 35px;
  }
}

@media (max-width: 640px) {
  .container {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
  }
}