.page {
    margin-bottom: 64px;
}

.trends {
    margin-bottom: 64px;
}

.main-title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #0f0d0e;
}

.main-title::after {
    content: "";
    display: block;
    margin: 14px auto 0;
    width: 62px;
    height: 3px;
    background-color: #b59f5b;
}

.trends-wrapper {
    display: flex;
    justify-content: space-between;
}

.trend-item {
    display: flex;
    position: relative;
    width: calc(25% - 3px);
    min-height: 320px;
    margin-right: 3px;
    padding: 16px 21px;
    background-color: #eff6f1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.trend-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.6;
}

.trend-item:last-child {
    margin-right: 0;
}

.trend-item-garden {
    background-image: url("../images/trend1.jpg");
}

.trend-item-cheese {
    background-image: url("../images/trend2.jpg");
}

.trend-item-mountains {
    background-image: url("../images/trend3.jpg");
}

.trend-item-lime {
    background-image: url("../images/trend4.jpg");
}

.trend-item-text {
    position: relative;
    align-self: flex-end;
    box-sizing: content-box;
    padding: 10%;
    border: 3px solid #b59f5b;
    text-align: left;
    z-index: 2;
    flex-grow: 1;
}

.main-page-content {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.main-articles {
    width: 66%;
}

.main-article {
    display: flex;
    align-items: flex-start;
    margin-bottom: 62px;
}

.main-article:last-child {
    margin-bottom: 0;
}

.article-img {
    display: block;
    width: 381px;
    margin-right: 30px;
}

.article-tag-row {
    margin: 0;
    padding: 0;
    list-style: none;
}

.article-tag {
    display: inline-block;
    margin-left: 0;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
}

.article-tag:last-child {
    margin-right: 0;
}

.article-tag-link {
    color: inherit;
    text-decoration: none;
}

.article-tag-link:hover {
    text-decoration: underline;
}

.article-title {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    color: #0f0d0e;
}

.article-title--color-white {
    color: #ffffff;
}

.article-title:hover {
    color: #b59f5b;
}

.article-title-link {
    color: inherit;
    text-decoration: none;
}

.article-meta {
    margin-top: 36px;
    font-size: 12px;
}

.article-date {
    display: inline-block;
    margin-right: 15px;
    color: #888888;
}

.article-author {
    display: inline-block;
    color: #000000;
    font-weight: 700;
    font-style: normal;
}

.article-preview {
    margin-top: 54px;
    font-size: 15px;
    line-height: 1.47;
    color: #0f0d0e;
}

.products-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.product {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product:last-child {
    margin-right: 0;
}

.product-image {
    width: 86%;
    margin-bottom: -30px;
    text-align: center;
}

.product-description-wrapper {
    position: relative;
    z-index: 2;
    flex-grow: 2;
    padding: 55px 20px 20px;
    border: 3px solid #b59f5b;
    text-align: left;
    text-decoration: none;
}

.product-description {
    margin-bottom: 26px;
}

.product-description-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
}

.product-description-text {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.4;
}

.highlighted-text {
    color: #b59f5b;
}

.product-description:hover .highlighted-text {
    text-decoration: underline;
}

.product-description-link {
    color: inherit;
    text-decoration: none;
}

.product-offer {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
}

.product-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    font-weight: 700;
    line-height: 1;
}

.old-price {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-decoration: line-through;
}

.new-price {
    margin: 0;
    padding: 0 0 12px;
    font-size: 20px;
}

.shop-link {
    display: block;
    box-sizing: content-box;
    padding: 1.2em 1.7em;
    background: #b59f5b;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}

.shop-link:hover {
    background: #323232;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .page {
        margin-bottom: 50px;
    }
    .trends {
        margin-bottom: 50px;
    }
    .main-title {
        font-size: 17px;
        line-height: 1.3;
    }
    .main-title::after {
        content: "";
        display: block;
        margin: 14px auto 0;
        width: 62px;
        height: 3px;
        background-color: #b59f5b;
    }
    .trends-wrapper {
        min-width: 641px;
        display: flex;
        flex-wrap: wrap;
    }
    .trend-item {
        margin: 0;
        width: calc(50% - 3px);
        min-height: 248px;
        margin-bottom: 3px;
    }
    .trend-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        opacity: 0.6;
    }
    .trend-item:nth-child(even) {
        margin-right: 0;
    }
    .main-articles {
        width: 55%;
        margin-right: 5%;
    }
    .main-article {
        flex-direction: column;
        margin-bottom: 35px;
    }
    .main-article::after {
        content: "";
        width: 100%;
        height: 3px;
        background: #eeeeee;
    }
    .main-article:last-child::after {
        display: none;
    }
    .article-img {
        display: block;
        width: 100%;
        margin-bottom: 14px;
    }
    .article-title {
        font-size: 17px;
        line-height: 1.3;
    }
    .article-meta {
        margin-top: 36px;
        font-size: 12px;
    }
    .article-preview {
        margin-top: 40px;
        line-height: 1.47;
        color: #0f0d0e;
    }
    .article-preview p:last-child {
        margin-bottom: 21px;
    }
    .products-wrapper {
        flex-wrap: wrap;
    }
    .product {
        width: 48.5%;
    }
    .product:nth-child(odd) {
        margin-right: 1.5%;
    }
    .product:nth-child(n+3) {
        margin-top: 28px;
    }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .trend-item {
        position: relative;
        width: calc(25% - 3px);
        margin-right: 3px;
        margin-bottom: 3px;
        background-color: #eff6f1;
    }
    .trend-item:last-child {
        margin-right: 0;
    }
}

@media (max-width: 640px) {
    .page {
        margin-bottom: 44px;
    }
    .trends {
        margin-bottom: 50px;
    }
    .main-title {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 1.25;
    }
    .trends-wrapper {
        min-width: 320px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .trend-item {
        width: 100%;
        min-height: 230px;
        margin-right: 0;
        margin-bottom: 3px;
    }
    .trend-item-text {
        box-sizing: content-box;
        padding: 10%;
        border: 3px solid #b59f5b;
        text-align: left;
    }
    .main-page-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 44px;
    }
    .main-articles {
        width: 100%;
    }
    .main-article {
        flex-direction: column;
        margin-bottom: 35px;
    }
    .main-article::after {
        content: "";
        width: 100%;
        height: 3px;
        background: #eeeeee;
    }
    .main-article:last-child::after {
        margin-bottom: 44px;
    }
    .article-img {
        width: 100%;
        margin-bottom: 14px;
    }
    .article-title {
        font-size: 17px;
        line-height: 1.3;
    }
    .article-meta {
        margin-top: 26px;
    }
    .article-author {
        display: inline-block;
        color: #000000;
        font-weight: 700;
        font-style: normal;
    }
    .article-preview {
        margin-top: 25px;
        font-size: 14px;
    }
    .article-preview p:last-child {
        margin-bottom: 24px;
    }
    .products-wrapper {
        display: flex;
        flex-direction: column;
    }
    .product {
        width: 100%;
        margin-bottom: 28px;
    }
    .product:last-child {
        margin-bottom: 0;
    }
    .product-image {
        width: 86%;
        margin-bottom: -30px;
        text-align: center;
    }
    .highlighted-text {
        color: #b59f5b;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trends-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .trend-item {
        position: relative;
        width: calc(50% - 3px);
        margin-right: 3px;
        margin-bottom: 3px;
        background-color: #eff6f1;
    }
    .trend-item:nth-child(even) {
        margin-right: 0;
    }
}