.popup-hidden {
    display: none;
}

.popup::before {
    position: fixed;
    display: block;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    background-color: #000000;
    opacity: 0.6;
}

.popup-close-button {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: -25px;
    width: 20px;
    height: 20px;
    background: url("../svg/form-x.svg") center center / cover no-repeat;
    border: none;
}

.popup-form {
    max-width: 390px;
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 52px 30px;
    background-color: #ffffff;
    font-size: 13px;
}

.popup-form-row {
    display: block;
    margin-bottom: 30px;
}

.form-hint {
    display: block;
    margin-bottom: 12px;
}

.popup-select-field {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    height: 48px;
    border: none;
    background-color: #f4f7f6;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: right 12px center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.popup-radio-text {
    display: inline-block;
    margin-right: 12px;
}

.popup-radio-text::before {
    content: "";
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url("../svg/form-empty-circle.svg") center center / cover no-repeat;
}

.popup-radio-input {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.popup-radio-input:checked~.popup-radio-text::before {
    background: url("../svg/form-circle.svg") center center / cover no-repeat;
}

.popup-text-field {
    padding: 16px;
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 300px;
    background-color: #f4f7f6;
    border: none;
    font: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.popup-input-field:focus, .popup-text-field:focus {
    outline: solid 2px #b59f5b;
}

.popup-subscription-button {
    width: 100%;
    height: 48px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .popup-form {
        width: 390px;
    }

    .popup-close-button {
        top: -35px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 640px) {
    .popup-form {
        width: 91vw;
    }

    .popup-close-button {
        top: -35px;
        width: 30px;
        height: 30px;
    }
}